In [2]:
a="CS knocks"
for i in a:
    print(i)

C
S

k
n
o
c
k
s

In [6]:
print("cs knock")
print("cs knock")
print("cs knock")
print("cs knock")

cs knock
cs knock
cs knock
cs knock

In [7]:
print("cs knock")
print("cs knock")
print("cs knock")
print("cs knock")
print("cs knock")
print("cs knock")
print("cs knock")
print("cs knock")
print("cs knock")
print("cs knock")
print("cs knock")
print("cs knock")

cs knock
cs knock
cs knock
cs knock
cs knock
cs knock
cs knock
cs knock
cs knock
cs knock
cs knock
cs knock

In [13]:
for i in range(0,12):
    print("CS Knocks")

CS Knocks
CS Knocks
CS Knocks
CS Knocks
CS Knocks
CS Knocks
CS Knocks
CS Knocks
CS Knocks
CS Knocks
CS Knocks
CS Knocks

In [15]:
# odd numbers from 1 to 100
for x in range(1,101,2):
    print(x)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [2]:
end=int(input("enter end point for odd numbers start from 1"))
for i in range(1,end,2):
    print(i)

enter end point for odd numbers start from 110
1
3
5
7
9

In [4]:
lst1=["pak","sri","aus"]
lst2=["ind","bng","nwz"]
for x in lst1:
    for y in lst2:
        print(x,"VS",y)

pak VS ind
pak VS bng
pak VS nwz
sri VS ind
sri VS bng
sri VS nwz
aus VS ind
aus VS bng
aus VS nwz

In [8]:
name = "cs knocks"
name.upper()
print(name.lower())

cs knocks

In [13]:
data={
    0:"Csknock",
    "course":"python",
    "student_id":123
}
data["student_id"]

123

In [18]:
data={
    0:"Csknock",
    "course":"python",
    "student_id":123,
    "qualification":["matric","inter","BSc"]
}
print(data)
data["qualification"]

{0: 'Csknock', 'course': 'python', 'student_id': 123, 'qualification': ['matric', 'inter', 'BSc']}

['matric', 'inter', 'BSc']

In [27]:
data["new course"]="data science"
data

{0: 'Csknock',
 'student_id': 123,
 'qualification': ['matric', 'inter', 'BSc'],
 'new course': 'data science'}

In [39]:
new_data={
    1:{
        "name":"ali",
        "course":"python",
        "grade":1
    },
        2:{
        "name":"saqib",
        "course":"python",
        "grade":3
    },
        3:{
        "name":"umair",
        "course":"python",
        "grade":5
    },
    4:["asim","python",5]
}
# print(new_data[1])
new_data[1]["grade"]=3
new_data[1]
del new_data[1]["grade"]
new_data[3]

{'name': 'umair', 'course': 'python', 'grade': 5}

In [40]:
new_data.keys()

dict_keys([1, 2, 3, 4])

In [41]:
new_data.values()

dict_values([{'name': 'ali', 'course': 'python'}, {'name': 'saqib', 'course': 'python', 'grade': 3}, {'name': 'umair', 'course': 'python', 'grade': 5}, ['asim', 'python', 5]])

In [42]:
new_data.items()

dict_items([(1, {'name': 'ali', 'course': 'python'}), (2, {'name': 'saqib', 'course': 'python', 'grade': 3}), (3, {'name': 'umair', 'course': 'python', 'grade': 5}), (4, ['asim', 'python', 5])])

In [45]:
dic_lst=["csknocks","hello","world",new_data]
dic_lst
dic_lst[3]

{1: {'name': 'ali', 'course': 'python'},
 2: {'name': 'saqib', 'course': 'python', 'grade': 3},
 3: {'name': 'umair', 'course': 'python', 'grade': 5},
 4: ['asim', 'python', 5]}

In [49]:
# dic_lst.append(data)
dic_lst.pop()
dic_lst

['csknocks',
 'hello',
 'world',
 {1: {'name': 'ali', 'course': 'python'},
  2: {'name': 'saqib', 'course': 'python', 'grade': 3},
  3: {'name': 'umair', 'course': 'python', 'grade': 5},
  4: ['asim', 'python', 5]},
 {0: 'Csknock',
  'student_id': 123,
  'qualification': ['matric', 'inter', 'BSc'],
  'new course': 'data science'}]

In [53]:
num1=4
num2=6
def add():
    print(num1+num2)
add()

10

In [54]:
def prnt(word):
    print(word)
prnt("CS Knocks")

CS Knocks

In [57]:
def sub(num1,num2):
    print(num1-num2)
sub(7,2)

5

In [63]:
def greet(str1,str2="welcome"):
    print(str2," ",str1)
greet("ali")

welcome   ali

In [65]:
def perc(num,per):
    return num*(per/100)
perc(200,5)

10.0

In [68]:
def tplfn(num1,num2,*all_num):
    print(num1,"\n",num2,"\n",all_num)
tplfn(2,4,6,8,9,0)

2
 4
 (6, 8, 9, 0)

In [78]:
def dicfn(num1="a",num2=4,**my_dict):
    print(num1,"\n",num2,"\n",my_dict)
dicfn(name="ali",course="python",grade=2)

a
 4
 {'name': 'ali', 'course': 'python', 'grade': 2}

In [85]:
def lclvar(word,find):
    global count
    count=0
    for i in word:
        if i==find:
            count+=1
    print(count)
lclvar("csknocks","s")
count

2

2