In [2]:
print("hello world")

hello world

In [4]:
a="hello world"
print(a)

hello world

In [14]:
_a=4.0
print(_a)

4.0

In [11]:
type(_a)

float

In [17]:
A="csknock"
print(A)

csknock

In [21]:
num_1=5
num_2=4
add=num_1+num_2
add

9

In [22]:
num_1=5
num_2=4
sub=num_1-num_2
sub

1

In [24]:
num_1=5
num_2=4
mult=num_1*num_2
mult

20

In [27]:
num_1=5
num_2=4
divide=num_1/num_2     #divide with float value
divide

1.25

In [28]:
num_1=5
num_2=4
dvd=num_1//num_2      #divide with whole value
dvd

1

In [30]:
num_1=5
power=num_1**2
power

25

In [32]:
print(12%7)

5

In [33]:
print(2+6*4-7/2+2**2)
#pemdras (paranthesis,exponent,multiplication,division,reminder,addition,subtraction)

26.5

In [34]:
print((2+6)*4-7/2+2**2)

32.5

In [42]:
#concatenation
first_name=7
second_name=6
print(first_name,second_name)

7 6

In [47]:
name="csknock"
if name == "csknock":
    print(name," is correct")

csknock  is correct

In [49]:
name="csknock"
if name == "csiknock":
    print(name," is correct")
else:
    print(name, "is incorrect")

csknock is incorrect

In [52]:
num=75
if num > 2 :
    print(num," is greater than 2")
elif(num==2):
    print(num," is equal to 2")
else:
    print(num," is less than 2")

4  is greater than 2

In [2]:
num=75
if (num > 2 or num < 60) and num < 50:
    print(num," is greater than 2")
elif(num==2):
    print(num," is equal to 2")
else:
    print(num," is less than 2")

75  is less than 2

In [17]:
marks=int(input())
if marks > 80 and marks < 100:
    print("A+")
elif marks > 70 and marks < 80:
    print("A")
elif marks > 60 and marks < 70:
    print("B")
elif marks > 50 and marks < 60:
    print("C")
elif marks > 40 and marks < 50:
    print("D")
else:
    print("your marks is ",marks,"and you are fail")

32
your marks is  32 and you are fail

In [25]:
lst=["karachi","lahore","peshawar","islamabad","quetta","sindh","punjab","kpk","balochistan"]
lst

['karachi',
 'lahore',
 'peshawar',
 'islamabad',
 'quetta',
 'sindh',
 'punjab',
 'kpk',
 'balochistan']

In [29]:
pshwr=lst[2]
pshwr
print(len(lst))
lst[8]

9

'balochistan'

In [32]:
#slicing in list
cities=lst[0:5]
cities

['karachi', 'lahore', 'peshawar', 'islamabad', 'quetta']

In [45]:
lst.append("faisalabad")

In [51]:
lst.pop()
lst

['balochistan',
 'islamabad',
 'karachi',
 'kpk',
 'lahore',
 'peshawar',
 'punjab',
 'quetta',
 'sindh',
 'faisalabad']

In [55]:
lst.remove("kpk")

In [67]:
newlist=lst.clear

In [70]:
lst.clear()

In [71]:
lst

[]

In [76]:
tpl=("karachi","islamabad","quetta")
tpl.index("karachi")
tpl[1]

'islamabad'